.clients {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &-title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.clients-image {
  margin: 15px;
  @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  .link {
    display: flex;
    // width: 170px;
    height: 90px;
    margin: 0;
    padding: 0;
    color: $icon-color;
    border: 1px solid $icon-color;
    border-radius: 4px;
    background-color: $primary-background;
    align-items: center;
    justify-content: center;

    transition: color 250ms $timing-function,
      border-color 250ms $timing-function;
  }

  .link:hover,
  .link:focus {
    background-color: $primary-background;
    color: $accent-color;
    border: 1px solid $accent-color;
  }

  .icon {
    fill: currentColor;
  }
}

// .clients-image:last-child {
//   margin: 0;
// }
